
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 p-0 m-0 sidebar">
        {{>sidebar-admin}}
        </div>
        {{admins}}
        <div class="col-md-9 mt-5 text-center">
            {{# each admins}}
            <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    {{this.name}}
                </div>
                <div class="col-sm-4">
                    {{this.email}}
                </div>
                <div class="col-sm-3">
                    {{this.city}}
                </div>
                <div class="col-sm-2">
                    {{this.country}}
                </div>
            <hr style="border: 1px solid #b0bdc5; width:100%">
            {{/each}}
            </div>
            </div>
        </div>
    </div>
</div>
          