<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 p-0 m-0 sidebar">
        {{>sidebar-admin}}
        </div>
        <div class="col-md-9 m-5">
            {{!--<h1 class="text-center my-5 pb-5">Recente bestellingen</h1>--}}
            {{!--<h1 class="text-center my-5 pb-5"></h1>--}}
            <div class="row" id="orders">
                {{#if orders}}
                {{# each orders }}
            <div class="">
                        {{# each this.items }}
                <div class="row">
                    <div class="col-sm-2"><img src="{{this.item.imagePath}}" class="img-fluid"></div>
                        <div class="col-sm-8">
                            <div class="col">
                               <h2> {{ this.item.title }} <strong><span class="badge">X</span></strong> {{ this.qty }} </h2> 
                            </div>
                        </div>
                            <div class="col">
                                <h2>€ {{ this.price }}</h2>
                            </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                        {{/each}}
                            <hr>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-sm-5 text-right p-0">
                                        <p>
                                            Totaal bestelling: <br>
                                            Datum : <br>
                                            Stripe Betaal ID : <br>
                                            Naam : <br>
                                            Email :
                                        </p>
                                    </div>
                                    <div class="col-sm-7 text-left p-0">
                                        <p>
                                            <strong>€{{ this.cart.totalPrice }}</strong> <span class="badge badge-success">Actief</span><br> 
                                            {{this.time}} <br> 
                                            <span class="badge badge-success">{{this.paymentId}}</span> <br> 
                                            {{this.user.name}}<br>
                                            {{this.user.email}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-sm-5 text-right p-0">
                                        <p>
                                            Straat <br>
                                            Postcode : <br>
                                            Plaats : <br>
                                            Land : 
                                        </p>
                                    </div>
                                    <div class="col-sm-7 text-left p-0">
                                        <p>
                                            <strong>{{ this.user.street }} {{this.user.number}}</strong><br> 
                                            {{this.user.zip }} <br> 
                                            {{this.user.city}}<br>
                                            {{this.user.country}}
                                        </p>
                                          <a href="/bestellingen-archiveren/{{this.id}}" class="btn btn-success text-light float-right"><img src="../../img/icons/archive.png" height="30px"> Archiveren</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <hr>
                <div class="d-inline">
                </div>
            </div>
            <hr>
        {{/each}}
        {{else}}
        <h3 class="text-center text-center alert alert-warning">Geen recente bestellingen</h3>

        {{/if}}
            </div>
        </div>
    </div>
</div>