<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 p-0 m-0 sidebar">
        {{>sidebar-admin}}
        </div>
        <div class="col-md-9 m-5">
            <div class="row" id="orders">
                {{# each orders }}
            <div class="">
                        <h2>{{this.cart.items.title}}</h2>
                        {{# each this.cart.items }}
                <div class="row">
                    <div class="col-sm-2"><img src="{{this.item.imagePath}}" class="img-fluid"></div>
                        <div class="col-sm-8">
                            <div class="col">
                               <h2> {{ this.item.title }} <strong><span class="badge">X</span></strong> {{ this.qty }} </h2> 
                            </div>
                        </div>
                            <div class="col">
                                <h2>€ {{ this.price }}</h2>
                            </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                        {{/each}}
                            <hr>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-sm-5 text-right p-0">
                                        <p>
                                            Totaal bestelling: <br>
                                            Datum : <br>
                                            Stripe Betaal ID : <br>
                                            Naam : <br>
                                            Email :
                                        </p>
                                    </div>
                                    <div class="col-sm-7 text-left p-0">
                                        <p>
                                            <strong>€{{ this.cart.totalPrice }} </strong> <span class="badge badge-secondary">Gearchiveerd</span><br>
                                            {{time}} <br> 
                                            <span class="badge badge-success">{{paymentId}}</span> <br> 
                                            {{this.user.name}}<br>
                                            {{this.user.email}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-sm-5 text-right p-0">
                                        <p>
                                            Straat <br>
                                            Postcode : <br>
                                            Plaats : <br>
                                            Land : <br>
                                        </p>
                                    </div>
                                    <div class="col-sm-7 text-left p-0">
                                        <p>
                                            <strong>{{ this.user.street }} {{this.user.number}}</strong><br> 
                                            {{this.user.zip }} <br> 
                                            {{this.user.city}}<br>
                                            {{this.user.country}}<br>
                                            <a href="/bestellingen-activeren/{{this.id}}" class="btn btn-info text-light float-right"><img src="../../img/icons/order.png" height="30px"> Activeren</a>
                                        </p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <hr>
                <div class="d-inline">
                </div>
            </div>
            <hr>
        {{/each}}
            </div>
        </div>
    </div>
</div>