<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 p-0 m-0 sidebar">
        {{>sidebar-admin}}
        </div>
        <div class="col-md-10">
            <div class="p-5 m-5">
<h1 class="d-inline">Wat wil je aanpassen? </h1><h3 class="d-inline"><i class="far fa-question-circle text-info d-inline"></i></h3></div>
{{!--<a href="/dashboard/design-aanpassen/header1" class="btn btn-outline-info mt-5 mb-1">Header</a>--}}
            {{# each titles }}
            <a href="/dashboard/design-aanpassen/header1">
<div class="container-fluid" id="index--header--design" style="background-image: linear-gradient(rgba(0,0,0,{{this.gradient}}), rgba(0,0,0,{{this.gradient}})), url('{{this.mainImage}}'); ">
    <div class="co">
    <h1 class="display-2 text-light text-center">{{ this.mainTitle }}</h1>
    <hr>
    <p class="text-center text-light">{{this.mainParagraph}}</p>
</div>    
</div>
</a>
{{/each}}
<div class="container-fluid text-center text-light">
    <div class="row">
{{# each titles1}}
     <div class="col-sm-6 text-light" id="index--subheader--right--design"  style="background-image: linear-gradient(rgba(0,0,0,{{this.gradient}}), rgba(0,0,0,{{this.gradient}})), url('{{this.mainImage}}'); ">
<a href="/dashboard/design-aanpassen/header2" class="text-light">
         <div id="lh">
         <h2>{{this.mainTitle}}</h2>
         <p>{{this.mainParagraph}}</p>
        </div> 
     </div>
     </a>
{{/each}}
{{# each titles2}}
     <div class="col-sm-6 "id="index--subheader--left--design" style="background-image: linear-gradient(rgba(0,0,0,{{this.gradient}}), rgba(0,0,0,{{this.gradient}})), url('{{this.mainImage}}'); ">
<a href="/dashboard/design-aanpassen/header3" class="text-light">
         <h2>{{this.mainTitle}}</h2>
         <p>{{this.mainParagraph}}</p>
     </div>
     </a>
{{/each}}
     </div>
</div>

<div class="container-fluid text-center text-light">
    <div class="row">
{{# each titles3}}
     <div class="col-md-9" id="index--subheader--right--row2--design" style="background-image: linear-gradient(rgba(0,0,0,{{this.gradient}}), rgba(0,0,0,{{this.gradient}})), url('{{this.mainImage}}'); ">
<a href="/dashboard/design-aanpassen/header4" class="text-light">
         <div id="lh">
         <h2>{{this.mainTitle}}</h2>
         <p>{{this.mainParagraph}}</p>
        </div> 
     </a>
     </div>
     {{/each}}
{{# each titles4}}
     <div class="col-md-3 "id="index--subheader--left--row2--design" style="background-image: linear-gradient(rgba(0,0,0,{{this.gradient}}), rgba(0,0,0,{{this.gradient}})), url('{{this.mainImage}}'); ">
<a href="/dashboard/design-aanpassen/header5" class="text-light">
         <h2>{{this.mainTitle}}</h2>
         <p>{{this.mainParagraph}}</p>
</a>
         <button class="btn btn-outline-light">Hello world!</button>
     </div>
{{/each}}
     </div>
</div>
        </div>
    </div>
</div>