<div class="container-fluid" id="dash">
    <div class="row">
        <div class="col-md-2 p-0 m-0 sidebar">
        {{>sidebar-admin}}
        </div>
        <div class="col-md-10 p-5">
              <form action="/editheader4" method="POST">
            <div class="row">
                
     <div class="col-lg-6 w-d-block" >
    <div class="form-group">
    <label for="exampleFormControlInput1">Foto <i class="far fa-question-circle text-info"></i></label>
    <input type="text" class="form-control f1" name="mainImage" id="exampleFormControlInput1" placeholder="Naam">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Titel <i class="far fa-question-circle text-info"></i></label>
    <input type="text" class="form-control f1" name="mainTitle" id="exampleFormControlInput1" placeholder="Prijs">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Subtext <i class="far fa-question-circle text-info"></i></label>
    <input type="text" class="form-control f1" name="mainParagraph" id="exampleFormControlInput1" placeholder="Prijs">
  </div>
        </div>
    <div class="col-sm-6">
   <div class="form-group">
    <label for="exampleFormControlInput1">Gradient <i class="far fa-question-circle text-info"></i></label>
    <input type="text" class="form-control f1" name="gradient" id="exampleFormControlInput1" placeholder="Link ">
  </div>
   <div class="form-group">
    <label for="exampleFormControlInput1">Link<i class="far fa-question-circle text-info"></i></label>
    <input type="text" class="form-control f1" name="link" id="exampleFormControlInput1" placeholder="Link ">
  </div>
    <button class="btn btn-info m-auto" type="submit" <img src="../img/icons/Untitled.png" width="25px"> Preview bekijken</button>
  </div>
        </form>
    </div>
<a href="#">

    
     <div class="col-md-9" id="index--subheader--right--row2--design" style="background-image: linear-gradient(rgba(0,0,0,{{headerPreviews.gradient}}), rgba(0,0,0,{{headerPreviews.gradient}})), url('{{headerPreviews.mainImage}}'); ">
         <div id="lh">
<a href="/dashboard/design-aanpassen/header4" class="text-light text-center" >
         <h2>{{headerPreviews.mainTitle}}</h2>
         <hr>
         <p>{{headerPreviews.mainParagraph}}</p>
     </a>
        </div> 
     </div>

<form action="/header4add" method="POST">
        <div class="text-right mt-2">
    <h5 class="d-inline">Ziet er goed uit?   </h5><button class="btn btn-info m-auto " class="d-inline"  type="submit" data-toggle="modal" data-target="#exampleModal"><img src="../img/icons/add.png" width="25px"> Toevoegen</button>
</div>
        </form>
</div>
</div>
</a>
</div>