<link rel='stylesheet' href='/stylesheets/stripe.css'/>
<div class="container-fluid" id="success-background">
<div class="row h1-00">
    <div class="col-sm-8 col-md-8">
<div class="mx-auto col-sm-6 m-5 p-5" id="checkout-box">
        <h1 class="text-center">Betalen via iDeal</h1>
        <hr>
        <div id="charge-error" class="alert alert-danger {{#if noError}}d-none{{/if}}">
            {{errMsg}}
        </div>


<script src="https://js.stripe.com/v3/"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script> 
<script src="https://js.stripe.com/v3/"></script>
<form id="payment-form"  action="/charge" method="post">
  <div class="form-row">
    <label for="name">
      Naam
    </label>
    <input id="name" name="name" placeholder="Naam" required>
  </div>

  <div class="form-row">
    <label for="ideal-bank-element">
      Bank
    </label>
    <div id="ideal-bank-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>
  </div>

  <button class="btn btn-outline-info mt-4 w-100">Naar bank</button>

  <!-- Used to display form errors. -->
    <div id="error-message" role="alert"></div>
</form>
</div>

<script>
var stripe = Stripe('pk_test_6pRNASCoBOKtIshFeQd4XMUh');

// Create an instance of Elements.
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
  base: {
    padding: '10px 12px',
    color: '#32325d',
    fontFamily: '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif',
    fontSmoothing: 'antialiased',
    fontSize: '16px',
    '::Selecteer uw bank': {
      color: '#aab7c4'
    },
  },
  invalid: {
    color: '#fa755a',
  }
};

// Create an instance of the idealBank Element.
var idealBank = elements.create('idealBank', {style: style});

// Add an instance of the idealBank Element into the `ideal-bank-element` <div>.
idealBank.mount('#ideal-bank-element');

var errorMessage = document.getElementById('error-message');

// </script>
{{!--<script src="javascripts/checkout.js"></script>--}}

</div>
<div class="col-sm-4" id="cart-checkout">
  {{# each products }}
                <div class="thumbnail">
                    <div class="row">
                        <div class="col-md-3">
                            <img  src="{{ item.imagePath }}" alt="..." class="img-fluid m-4">
    
                        </div>
                        <div class="col-md-6 ml-4 mt-4">
                        <h5>{{ this.item.title }}</h5>
                        <div class="clearfix">
                      
                        </div>                            
                        </div>
                        <div class="col-md-2 mt-4">
                              <div class="price pull-left p-2">€{{ item.price }} <span class="badge badge-info">{{ this.qty }}</span></div>
                        </div>
                    </div>
                    <hr>
                    <div class="caption">

                    </div>
                </div>
        {{/each}}
<div class="total">
  <hr>
      <h2>Totaal : €{{total}}</h2>
  </div>
</div>
</div>
</div>
</div>